/* Import de la police */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;

  max-width: 1240px;
  min-width: 375px;

  @media screen and (max-width: 1024px) {
    body {
      max-width: 1024px;
      min-width: 769px;

      @media screen and (max-width: 768px) {
        body {
          max-width: 768px;
          min-width: 375px;
          padding: 0;
        }
      }
    }
  }
}

.propos__content {
  margin: 0 40px; /* Applique les marges à droite et à gauche du contenu */
}
