.fiche-logement__header {
  display: flex;
  justify-content: space-between;
  max-height: 105px;
}
.fiche-logement__title {
  display: flex;
  color: #ff6060;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0px;
}

p.fiche-logement__location {
  display: flex;
  margin-top: 0px;
  font-weight: 500;
}
.fiche-logement__host {
  display: flex;
  margin-top: 24px;
  justify-content: flex-end;
}
img.fiche-logement__host-picture {
  border-radius: 90px;
  height: 60%;
}
p.fiche-logement__host-name {
  color: #ff6060;
  padding-right: 10px;
}

.tags_ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fiche-logement__tags {
  display: flex;
  gap: 20px;
}

.fiche-logement__tag {
  background-color: #ff6060;
  display: flex;
  gap: 20px;
  border-radius: 14px;
  color: white;
  padding: 5px 40px;
  font-weight: 500;
}

.fiche-logement__rating {
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
}

@media (max-width: 768px) {
  .fiche-logement__host {
  }

  .fiche-logement__rating {
  }
}
