header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-top: 30px;
}
.header-img {
  padding-top: 30px;
  padding-left: 50px;
}
nav {
  display: flex;

  gap: 100px;
  justify-content: end;
  padding-right: 50px;
}

/*** lien vers la section hebergement, lien vers la section activité***/
.accueil a,
.a-propos a {
  font-weight: 500;
  padding-top: 10px;
  color: black;
  font-size: xx-large;
  text-decoration: none;
}

.main-container {
  width: 100%;
}
