.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  @media (max-width: 1024px) {
    max-width: 1024px;
    min-width: 769px;
    display: flex;
    margin: auto;
  }
  @media (max-width: 768px) {
    max-width: 768px;
    min-width: 375px;
    display: flex;
    margin: auto;
  }
}
.header-img {
  display: flex;
  padding-left: 50px;
}
nav {
  display: flex;
  gap: 100px;
  justify-content: end;
  padding-right: 45px;
}

/**lien vers la section hebergement, lien vers la section activité***/
.accueil a,
.a-propos a {
  font-weight: 400;
  padding-top: 10px;
  color: black;
  font-size: x-large;
}

.accueil a:hover,
.a-propos a:hover {
  border-bottom: 2px solid black;
}

.main-container {
  width: 100%;
}
