.error_404 h2 {
  color: #ff6060;
  font-weight: 400;
  padding-bottom: 60px;
}
.error_404 a {
  color: black;
  border-bottom: 2px solid black;
  font-weight: 400;
}

.error_404 img {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 35%;
}
