.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 60px;

  @media (max-width: 1024px) {
    max-width: 1024px;
    min-width: 769px;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 768px) {
    max-width: 768px;
    min-width: 375px;
    display: flex;
    justify-content: center;
  }
}
