.banner {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 132.5vh;
    height: 20vh;
    border-radius: 25px;
    object-fit: cover;
    position: absolute; /* L'image devient un fond */
    z-index: -1; /* Envoyée derrière le texte */
  }
}
.banner h2 {
  position: relative; /* Par-dessus l'image */
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Donne un effet de lisibilité */
}
