.banner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    position: absolute; /* L'image devient un fond */
    z-index: -1; /* Envoyée derrière le texte */
  }
}

.banner h2 {
  position: relative; /* Par-dessus l'image */
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Donne un effet de lisibilité */
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
    padding-left: 15px;
    text-align: left;
  }
}
